*{
    margin:20px;
}

.container-1{
    border:10px dashed blue;
    border-radius: 10px;
    padding: 20px;
  
    background-image: url('bg-1.jpg');
    background-size: 180px 100px;
    background-repeat: no-repeat;
    background-origin:border-box;
}

.container-2{
    border:10px dashed blue;
    border-radius: 10px;
    padding: 20px;
  
    background-image: url('bg-1.jpg');
    background-size: 180px 100px;
    background-repeat: no-repeat;
    background-origin:padding-box;
}

.container-3{
    border:10px dashed blue;
    border-radius: 10px;
    padding: 20px;
  
    background-image: url('bg-1.jpg');
    background-size: 180px 100px;
    background-repeat: no-repeat;
    background-origin:content-box;
}

h2,h4{
    color:white;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: center;
}