*{
    margin: 0px;
}

.container{
    text-align: center;
    font-size: 40px;
    width:400px;
    margin:150px auto;
    padding:100px 0px;
    /* animation code */

    animation-name:div-color-change;
    animation-duration:2s;
    /* animation-timing-function: linear; */
    /* animation-delay: 5s; */
    animation-iteration-count:infinite;
    animation-direction: normal; /* reverse , alternate , alternate-reverse */

    /* shorthand of animation */
    animation: div-color-change 2s infinite normal;
}


@keyframes div-color-change{
    0%{
        background-color: aqua;
        border-radius: 20%;
    }

    100%{
        background-color: brown;
        border-radius: 50%;
    }
}


