html,body{
    font-size:22px;
}
  
  .parent{
    font-size:16px;
  }
  
  .p2{
    font-size:1.5em;
  }

  /* 1.5 times of parent i.e 16+8=24px; */
  
  .p3{
    font-size:1.5rem;
  }

  /* 1.5 times of size of root i.e html , body {} i.e 22px */
  
  .p4{
    font-size:300%;
  }
  
  /* p4 300 times of parent i.e 16 px */